.wp-block-c7wp-joinnow {
    overflow: hidden;
    z-index: 1;
}
.wp-block-c7wp-joinnow > div {
    max-width: 100%;
}
.wp-block-c7wp-joinnow .c7-btn {
    pointer-events: none;
}
.wp-block-c7wp-joinnow .c7-message {
    pointer-events: none;
}