/* Editor specific styles */
.club-list {
    margin-top: 1em;
}

.club-radio-buttons {
  margin-bottom: 1em;
}

.club-select {
  margin-bottom: 1em;
}

.club-item {
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1em;
}

.club-item .components-base-control {
    margin-bottom: 1em;
}

.club-item .components-button {
    margin-top: 0.5em;
    border: 1px solid;
    font-size: 0.9em;
}

.club-item .components-button:disabled {
    cursor: not-allowed;
}

/* Hide URL input and make button text read-only */
.club-selector-button .block-editor-url-input {
    display: none !important;
}

.club-selector-button .block-editor-rich-text__editable {
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
}

.wp-block-c7wp-clubselector.components-placeholder::before {
    content: '';
    width: 50px;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-image: url('../../../../assets/c7bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    opacity: 0.08;
    pointer-events: none;
}