.wp-block-c7wp-reservation {
    overflow: hidden;
    z-index: 1;
}
.wp-block-c7wp-reservation > div {
    max-width: 100%;
}
.wp-block-c7wp-reservation .c7-reservation__search {
    pointer-events: none;
}
.wp-block-c7wp-reservation .c7-message {
    pointer-events: none;
}


.c7wp-justify-center {
	.c7-reservation__search {
		.c7-form__group {
			justify-content: center;
		}
	}
}

.c7wp-justify-right {
	.c7-reservation__search {
		margin-right: 0;
		.c7-form__group {
			justify-content: flex-end;
		}
	}
}

.c7wp-justify-left {
	.c7-reservation__search {
		margin-left: 0;
		.c7-form__group {
			justify-content: flex-start;
		}
	}
}