.wp-block-c7wp-reservation {
    overflow: hidden;
    z-index: 1;
}
.wp-block-c7wp-reservation > div {
    max-width: 100%;
}
.wp-block-c7wp-reservation .c7-reservation__search {
    pointer-events: none;
}
.wp-block-c7wp-reservation .c7-message {
    pointer-events: none;
}