.wp-block-c7wp-form {
    overflow: hidden;
    z-index: 1;
}
.wp-block-c7wp-form > div {
    max-width: 100%;
}
.wp-block-c7wp-form .c7-form {
    pointer-events: none;
}
.wp-block-c7wp-form .c7-message {
    pointer-events: none;
}



.c7wp-justify-center {
	.c7-custom-form {
		.c7-form {
			margin-left: auto;
      margin-right: auto;
		}
		.c7-custom-form {
			justify-content: center;
		}
	}
}

.c7wp-justify-right {
	.c7-custom-form {
		.c7-form {
			margin-right: 0;
      margin-left: auto;
		}
		.c7-custom-form {
			justify-content: flex-end;
		}
	}
}

.c7wp-justify-left {
	.c7-custom-form {
    margin-left: 0;
		.c7-form {
      margin-right: auto;
      margin-left: 0;
		}
	}
}