.wp-block-c7wp-form {
    overflow: hidden;
    z-index: 1;
}
.wp-block-c7wp-form > div {
    max-width: 100%;
}
.wp-block-c7wp-form .c7-form {
    pointer-events: none;
}
.wp-block-c7wp-form .c7-message {
    pointer-events: none;
}