#c7wp-cart-box {
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
	bottom: auto;
	padding: 1rem;
	z-index: 99999;
	display: flex;
	flex-direction: row;
	align-items: center;

	&.top-left {
		top: 0;
		right: auto;
		left: 0;
		bottom: auto;
	}

	&.bottom-left {
		top: auto;
		right: auto;
		left: 0;
		bottom: 0;
		position: fixed;
	}

	&.bottom-right {
		top: auto;
		right: 0;
		left: auto;
		bottom: 0;
		position: fixed;
	}

	&.c7dark {
	  --c7-header-text-color: #fff;
		--c7-cart-count-text-color: #fff;
  }

	&.c7dark .c7-user-nav__account > a,
	&.c7dark .c7-user-nav__account > a:hover,
	&.c7dark .c7-user-nav__account > a:focus,
	&.c7dark .c7-user-nav__cart > button {
		color: var(--c7-header-text-color);
	}


	#c7-login,
  #c7-account {
    padding: 0 1rem 0 0;
  }
}



@media screen and (min-width: 46rem) {
	.c7-form__group {
		div div {
			&.date-picker,
			&.rdtPicker,
			&.rdtDays {
				width: auto;
				margin: 0;
			}
		}
	}
}
.c7-date-picker__overlay {
	z-index: 9;
}
