#c7wp-cart-box {
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
	bottom: auto;
	padding: 1rem;
	z-index: 99999;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#c7wp-cart-box.top-left {
	top: 0;
	right: auto;
	left: 0;
	bottom: auto;
}
#c7wp-cart-box.bottom-left {
	top: auto;
	right: auto;
	left: 0;
	bottom: 0;
	position: fixed;
}
#c7wp-cart-box.bottom-right {
	top: auto;
	right: 0;
	left: auto;
	bottom: 0;
	position: fixed;
}
#c7wp-cart-box.c7dark > div > a {
	color: #fff;
}
#c7wp-cart-box.c7light > div > a {
	color: #333;
}
.c7-dark {
	--c7-header-text-color: #fff;
}
#c7-login,
#c7-account {
    padding: 0 1rem 0 0;
}
.c7-checkout__content__title a {
	font-size: 0.95rem;
}
.c7-cart__count {
	display: none;
}
@media screen and (min-width: 46rem) {
		.c7-form__group div div.date-picker, .c7-form__group div div.rdtPicker, .c7-form__group div div.rdtDays {
		width: auto;
		margin: 0;
	}
}
.c7-date-picker__overlay {
	z-index: 9;
}
